.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--br);
  }
  
  .login-container .left {
    width: 50%;
    height: 700px;
    background: url("/imgs/login.jpg") no-repeat center / cover;
    border-radius: var(--br);
  }
  
  .login-container .right {
    width: 50%;
    min-height: 400px;
    background-color: var(--clr-white);
    box-shadow: var(--bs);
    border-radius: var(--br);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
    margin-left: -100px;
  }
  
  .login-container .right h2 {
    color: var(--clr-btn-hover);
  }
  
  .form-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    border-radius: var(--br);
    gap: 1.5em;
    padding: 2em;
    width: min(400px, 95%);
  }
  
  
  .login-form .input-box {
    position: relative;
  }
  
  .login-form input {
    width: 100%;
    border: 1px solid lightgray;
    font-size: 1.6rem;
    outline: none;
    padding: 1em;
    border-radius: var(--br);
    transition: var(--tr);
  }
  
  .login-form label {
    position: absolute;
    left: 0;
    padding: 1em;
    pointer-events: none;
    text-transform: uppercase;
    color: lightgray;
    transition: var(--ts);
  }
  
  .login-form .input-box input:focus ~ label,
  .login-form .input-box input:valid ~ label {
    color: var(--clr-btn-hover);
    transform: translateX(5px) translateY(-9px);
    font-size: 1.4rem;
    padding: 0 8px;
    background-color: white;
    letter-spacing: .2em;
  }
  
  .login-form  .input-box input:focus,
  .login-form .input-box input:valid {
    border: 1px solid var(--clr-btn-hover);
  }
  
  
  .login p {
    margin-top: 1em;
    color: var(--clr-primary-text);
  }
  
  .login p a {
    color: var(--clr-btn-hover);
    font-size: 2rem;
  }
  
  @media (max-width: 1100px) {
    .login-container {
      flex-direction: column;
    }
  
    .login-container .left {
      width: 100%;
      height: 300px;
    }
  
    .login-form {
      padding: 1em !important;
    }
  
    .login-container .right {
      width: 90%;
      margin: 0;
      margin-top: -100px;
    }
  
    .login-form {
      padding: 2em;
    }
  } 
  