.top-to-btm{
    position: relative;
  }
  .icon-position{
    position: fixed;
    bottom: 40px;
    right: 25px;
    z-index: 9999;
  }
  .icon-style{
    background-color: var(--clr-btn);
    border-radius: 50%;
    border: none;
    height: 70px;
    width: 70px;
    color: var(--clr-white);
    cursor: pointer;
    /* animation: movebtn 3s ease-in-out infinite; */
    transition: var(--ts);
  }
  
  .icon-style .icon {
    font-size: 3rem;
  }
  .icon-style:hover{
    animation: none;
    background: var(--clr-btn-hover);
  }